



.sm a{
  display: inline-block;
  font-size: 40px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #6ab04c;
  margin: 0 16px;
  transition: .4s linear;
  position: relative;
}

.sm a::before, .sm a::after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .4s linear;
}

.sm a:hover{
  transform: scale(.8);
}

.sm a:hover::before{
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
}

.sm a:hover::after{
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewY(-20deg);
}




.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
  background: #d13639;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
.animated-text{
  color: rgb(255, 255, 255);
  position: absolute;
  top:100rem;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #2980b9;
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
}


.line{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  }
}
@media only screen and (max-width: 360px){
  .line{
    font-size: 30px;
    line-height: 60px;
  }
}
